@use "../variables/variables.scss";

.squad::after {
  position: absolute;
  top: 0;
  content: "Squad Member";
  align-self: center;
  margin-bottom: 15px;
  display: inline;
  background-color: variables.$color-accent;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 5px;
  border-radius: 5px;
}
