.btn {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.btn:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn:focus {
  outline: 1px transparent;
}

.btn:before {
  display: none;
}

.btn:-webkit-details-marker {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

*,
*::after,
*::before {
  display: inline-block;
}

head {
  display: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: inherit;
  padding: 1rem;
}

html {
  color: rgba(35, 37, 43, 0.939);
  font-family: "Roboto", sans-serif;
}

.card__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card > li {
  display: flex;
  flex-direction: column;
}

.card {
  height: 340px;
  width: 250px;
  border-radius: 15px;
  border: 6px solid rgba(41, 46, 60, 0.923);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__types {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(41, 46, 60, 0.923);
}

.normal {
  background-color: #caca57;
}

.type-normal {
  background-color: #b8b89b;
}

.fire {
  background-color: #de925c;
}

.type-fire {
  background-color: #ea7725;
}

.water {
  background-color: #829ee7;
}

.type-water {
  background-color: #577ee1;
}

.grass {
  background-color: #99c578;
}

.type-grass {
  background-color: #75ca34;
}

.electric {
  background-color: #eacf70;
}

.type-electric {
  background-color: #d6c50b;
}

.ice {
  background-color: #b4dadb;
}

.type-ice {
  background-color: #6cd3d7;
}

.fighting {
  background-color: #c46f66;
}

.type-fighting {
  background-color: #c64b3d;
}

.poison {
  background-color: #ac6eb2;
}

.type-poison {
  background-color: #a744b0;
}

.ground {
  background-color: #dac793;
}

.type-ground {
  background-color: #d2aa3c;
}

.flying {
  background-color: #b2a6e7;
}

.type-flying {
  background-color: #7964d9;
}

.psychic {
  background-color: #e48ba4;
}

.type-psychic {
  background-color: #e15980;
}

.bug {
  background-color: #c2ca72;
}

.type-bug {
  background-color: #afbb2b;
}

.rock {
  background-color: #d2c075;
}

.type-rock {
  background-color: #ad9431;
}

.ghost {
  background-color: #927dbf;
}

.type-ghost {
  background-color: #6f4fb4;
}

.dragon {
  background-color: #7654f6;
}

.type-dragon {
  background-color: #512bdc;
}

/*# sourceMappingURL=styles.css.map */
