$color-accent: rgba(41, 46, 60, 0.923);
$color-font: rgba(35, 37, 43, 0.939);

$color-normal: #b8b89b;
$color-fire: #de925c;
$color-water: #829ee7;
$color-grass: #99c578;
$color-electric: #eacf70;
$color-ice: #b4dadb;
$color-fighting: #c46f66;
$color-poison: #ac6eb2;
$color-ground: #dac793;
$color-flying: #b2a6e7;
$color-psychic: #e48ba4;
$color-bug: #c2ca72;
$color-rock: #d2c075;
$color-ghost: #927dbf;
$color-dragon: #7654f6;
