$color-accent: rgba(41, 46, 60, 0.923);
$color-font: rgba(35, 37, 43, 0.939);

$color-normal: #caca57;
$color-normal-type: #b8b89b;

$color-fire: #de925c;
$color-fire-type: #ea7725;

$color-water: #829ee7;
$color-water-type: #577ee1;

$color-grass: #99c578;
$color-grass-type: #75ca34;

$color-electric: #eacf70;
$color-electric-type: #d6c50b;

$color-ice: #b4dadb;
$color-ice-type: #6cd3d7;

$color-fighting: #c46f66;
$color-fighting-type: #c64b3d;

$color-poison: #ac6eb2;
$color-poison-type: #a744b0;

$color-ground: #dac793;
$color-ground-type: #d2aa3c;

$color-flying: #b2a6e7;
$color-flying-type: #7964d9;

$color-psychic: #e48ba4;
$color-psychic-type: #e15980;

$color-bug: #c2ca72;
$color-bug-type: #afbb2b;

$color-rock: #d2c075;
$color-rock-type: #ad9431;

$color-ghost: #927dbf;
$color-ghost-type: #6f4fb4;

$color-dragon: #7654f6;
$color-dragon-type: #512bdc;
