@use "../variables/variables.scss";

*,
*::after,
*::before {
  display: inline-block;
}

head {
  display: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: inherit;
  padding: 1rem;
}

html {
  color: variables.$color-font;
  font-family: "Roboto", sans-serif;
}
